body{
    color: #fff;
    background-color: rgba(48, 48, 48, 0.87);
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    outline: none;
    color: #fff;
}

ul li{
    list-style: none;
}

header{
    /* width: 100%; */
    padding-left: 90px;
    padding-right: 90px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    border-bottom: solid 1px gray;
}
header>div{
    height: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
header>div>ul{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin: 5px 15px;
}
#small_nav_left{
    margin-left: 0;
}
#small_nav_right{
    margin-right: 0;}
#small_nav_left>li>a{
    color: gray;
    /* margin: 0 25px; */
    margin-right: 25px;
    margin-left: 0;
    font-size: smaller;
}
#small_nav_right>li>a{
    color: gray;
    /* margin: 0 25px; */
    margin-right: 0;
    margin-left: 25px;
    font-size: smaller;
}
#big_nav_l>{
    margin-right: 25px;
    margin-left: 0;
}

#big_nav_l>li>a, #big_nav_r>li>a{
    margin: 0 25px;
}
#big_nav_l>span, #big_nav_r>span{
    display: flex;
    align-items: center;
    
}
#big_nav_l>span>li, #big_nav_r>span>li{
    margin: 0 5px;
    
}

#logo{
    margin-top: 15px;
}


main{
    margin-left: 280px;
    margin-right: 280px; 
}
#box_office>#title{
    display: flex;
    justify-content: center;
}
#box_office>.poster{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#box_office button img{
    width: 17px;
    height: 15px;
    background-image: url("./img/ico-heart-toggle-main.png");  
}
.poster div button:first-of-type{
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    border-radius: 10%;
    /* flex-grow: 2; */
    height: 25px;
    width: 90px;

}
.poster div button:last-of-type{
    background-color: rgb(2, 128, 150);
    border-radius: 10%;
    border: none;
    height: 25px;
    width: 180px;
    /* flex-grow: 4; */

}
.poster>div>div:last-of-type{
    display: flex;
    justify-content:space-between;
}